<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Lang" value="en-IN" />
    <add key="MessageResourceFileName" value="messages" />
    <add key="RootDirectory" value="VETRIS_MAIN" />
    <add key="ServerPath" value="http://localhost/VETRIS_MAIN" />
    <add key="WindowTitle" value="VETRIS" />
    <add key="ProductHeading" value="VETERINARY RADIOLOGY INFORMATION SYSTEM" />
    <add key="ProductName" value="VETERINARY RADIOLOGY INFORMATION SYSTEM" />
    <add key="ReportServerURL" value="http://DESKTOP-D9KH047:8000/ReportServer" />
    <add key="ServerReportFolder" value="/VETRIS" />
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/HR/TempImageFiles/" />
  </appSettings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" requestPathInvalidCharacters=""  />-->
    <httpRuntime executionTimeout="3600" maxRequestLength="1073741824" targetFramework="4.5" requestValidationMode="4.5" />
    <httpHandlers>
		<add path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"   />
    </httpHandlers>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
   
    <security>
       <requestFiltering>
         <!--<requestLimits maxAllowedContentLength="2147483647" />-->
       <requestLimits maxAllowedContentLength="3000000000" />
       <!--<requestLimits maxAllowedContentLength="‭104857600‬" />-->
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
	<handlers>
		<add name="AjaxPro" verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
	</handlers>
    <defaultDocument>
      <files>
        <add value="VRSLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
